.section-title {
  font-family: SiemensSans-Bold;
  font-size: 18px;
  color: #2D373C;
  letter-spacing: -0.36px;
  line-height: 40px;
}

.section-normal-text {
  font-family: SiemensSans-Roman;
  font-size: 12px;
  color: #2D373C;
  letter-spacing: -0.24px;
  line-height: 20px;
}

.section-link-text {
  font-family: SiemensSans-Roman;
  font-size: 12px;
  color: #00D9E3;
  letter-spacing: -0.24px;
  line-height: 20px;
  text-decoration: underline;
}

.resource-select {
  width: 650px;
}

.card-title {
  font-family: SiemensSans-Roman;
  font-size: 12px;
  color: #2D373C;
  letter-spacing: -0.24px;
  line-height: 20px;
}

.boxwhite {
  text-align: center;background-color: white;
}

.boxwhite .box-text {
  color: #2D373C;
}
.boxwhite .section-normal-text {
  color: #2D373C;
}
.boxblue .box-text{
  color: white;
}
.boxblue .section-normal-text {
  color: white;
}

.boxblue {
  text-align: center;background-color: #41BECC;
}

.box-text{
  font-family: SiemensSans-Bold;
font-size: 16px;
color: #2D373C;
letter-spacing: -0.32px;
}

.tag-box {
  background: #FFFFFF;
border: 1px solid #41BECC;
border-radius: 4px;
width: 6rem;
text-align: center;
}