<div>
  <div class="target-section-top">
    <div class="top-intro">
      <div class="top-intro-title">{{targetObj.name}}</div>
      <nz-divider></nz-divider>
      <div class="top-intro-desc">{{targetObj.desctext}}</div>
    </div>
    <div>
      <img class="top-thumb" [src]="targetObj.img">
    </div>
  </div>
  <div class="cases-section">
    <div class="cases-section-title">{{'ver.industry.assocase'|translate}}</div>
    <nz-list [nzDataSource]="cases" [nzRenderItem]="itemlayout" [nzGrid]="{gutter: 16, span: 6}"
      [nzLoadMore]="loadMore">
      <ng-template #itemlayout let-item>
        <nz-list-item [nzContent]="itemcontent" (click)="toCaseDetail(item)" style="cursor: pointer;">
          <ng-template #itemcontent>
            <div class="card-item-content">
              <div>
                <img class="case-img" [src]="item.imgpath">
              </div>
              <div class="case-cust">{{'ver.case.cust'|translate}}: {{item.customer}}</div>
              <div class="case-intro">{{'ver.case.custval'|translate}}: {{(item.pvalue.length>26)?(item.pvalue|slice:0:26)+'...':(item.pvalue)}}</div>
              <div class="case-category">{{item.techfields&&item.techfields.length>0?item.techfields[0].name:" "}} | {{item.indfields&&item.indfields.length>0?item.indfields[0].name:" "}}</div>
            </div>
          </ng-template>
        </nz-list-item>
      </ng-template>
      <ng-template #loadMore></ng-template>
    </nz-list>
    
  </div>
</div>
