/* You can add global styles to this file, and also import other style files */
.ant-btn-hack {
    background-color: orange;
}

body {
    line-height: unset !important;
}

#wrap {z-index: 999; display:block;bottom:0px;right:1px!important;right:18px;    width:100%;height:80px;   
     line-height:30px;position:fixed;border:1px solid #212121;text-align:center;color:#fff; background:#212121;font-family:SiemensSans-Roman}

.ant-modal-body {
    padding: 0px !important;
}
.ant-modal-content {
    background-color: unset !important;
    margin-top: -50px;
    margin-left: -450px;
}
.text-style{
    display: flex;
    margin-left:3.3%;
    width:642px;
    height:40px;
  }
  .title-name {
    font-family: SiemensSans-Bold;
    font-size: 18px;
    color: #2D373C;
    letter-spacing: -0.36px;
    line-height: 40px;
  }
.center-backend{
    background: #F2F5E7;
    width: 737px;
    margin-left:24.4%;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
}
.small-text {
    margin-left:3.3%;
    font-family: SiemensSans-Bold;
    font-size: 8px;
    color: #41BECC;
    letter-spacing: -0.16px;
  }
.small-text2{
    font-family: SiemensSans-Roman;
font-size: 12px;
color: #003C43;
letter-spacing: -0.24px;
line-height: 20px;
}
/* .ant-select-selection{
    background-color:#131313  !important;
    color:white  !important;
    font-size:18px
} */

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  .circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
  }
  
  .linetext {
    font-size: 12px;
  }

  .alert {
    color: red;
  }