<div class="top-div">
  <div nz-row class="top-div-content">
    <div nz-col [nzSpan]="15" class="top-div-content-text">
      <div class="ver-app-title"><span style="font-size: 48px;">VerBinder</span><br/><span>- Ver</span><span style="opacity: 0.7;">tical </span><span>B</span><span style="opacity: 0.7;">usiness F</span><span>inder</span> </div>
      <div class="search-hint-title">{{'ver.main.searchlabel'|translate}}</div>
      <div class="row-btn-search"><button nz-button class="btn-search" (click)="toSearch()">{{'ver.main.btnsearch'|translate}}</button></div>
    </div>
    <div nz-col [nzSpan]="9" class="div-slogans">
        <nz-carousel nzAutoPlay [nzDots]=false [nzAutoPlaySpeed]=3500 style="height:125px;">
          <div nz-carousel-content style="display: flex;" class="slogan-text" [innerHTML]="'ver.main.slogan.en'|translate"></div>
          <div nz-carousel-content style="display: flex;" class="slogan-text" [innerHTML]="'ver.main.slogan.cn1'|translate"></div>
          <div nz-carousel-content style="display: flex;" class="slogan-text" [innerHTML]="'ver.main.slogan.de'|translate"></div>
          <div nz-carousel-content style="display: flex;" class="slogan-text" [innerHTML]="'ver.main.slogan.cn2'|translate"></div>
        </nz-carousel>
    </div>
  </div>
</div>
<div class="industry-div">
  <div nz-row class="section-title"><label>{{'ver.main.industrylabel'|translate}}</label></div>
  <nz-list class="industry-list" [nzDataSource]="industrieslist" [nzRenderItem]="industry" [nzGrid]="{gutter:24, span:6}">
    <ng-template #industry let-industry>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <div class="industry-card" id="cad_{{industry.tag}}" (mouseover)="onhover($event);" (mouseleave)="onleave($event)" (click)="toIndustry(industry.id)">
            <img [src]='industry.img' id="img_{{industry.tag}}">
            <label id="lbl_{{industry.tag}}" class="industry-text-name">{{industry.name|translate}}</label>
          </div>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <div nz-row class="div-checkmore"><button nz-button class="btn-checkmore">{{"ver.main.checkmore"|translate}}</button>
  </div>
</div>
<div class="tech-div">
  <div nz-row class="section-title"><label>{{'ver.main.techlabel'|translate}}</label></div>
  <div class="swiper-container tech-container" style="padding: 0px 20px;">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let tech of technologieslist">
        <div class="tech-card" (click)="toTechnology(tech.id)">
          <img [src]="tech.img">
          <label class="tech-name-text">{{tech.name|translate}}</label>
          <label class="tech-desc-text">{{tech.desciption}}</label>
        </div>
      </div>
    </div>
  </div>
  <div nz-row class="div-checkmore"><button nz-button class="btn-checkmore">{{"ver.main.checkmore"|translate}}</button></div>
</div>
<div class="case-div">
  <div nz-row class="section-title"><label>{{'ver.main.caselabel'|translate}}</label></div>
  <div nz-row style="margin-top: 70px;">
    <div nz-col [nzSpan]="6">
      <ul nz-menu #casemenu (nzClick)="changemenuselect($event)">
        <li nz-menu-item [nzSelected]="case.selected" class="case-menu-item" *ngFor="let case of caseslist; let i=index"
          id="item_{{i}}">
            <img [class]="case.selected?'case-icon':'case-icon element-hide'">
            <img [class]="case.selected?'case-arrow-icon element-hide':'case-arrow-icon'">
            <label [class]="case.selected?'case-menu-item-text-selected':'case-menu-item-text'" style="cursor: pointer;">{{(case.shortname)}}</label>
            <img [class]="case.selected?'case-big-arrow':'element-hide case-big-arrow'">
        </li>
      </ul>
    </div>
    <div nz-col [nzSpan]="18" class="case-detail-body">
      <div nz-row>
        <div class="case-detail-title"> <label>{{selectedCase.name}}</label></div>
      </div>
      <div nz-row class="case-detail-intro">
        <label>{{selectedCase.desctext}}</label>
      </div>
      <nz-divider></nz-divider>
      <div nz-row style="margin-top: 30px;">
        <div nz-col [nzSpan]="7" style="text-align: center;">
          <div class="caseintro-text-sub1">{{selectedCase.indfields&&selectedCase.indfields.length>0?selectedCase.indfields[0].name:""}}</div>
          <div class="caseintro-text-sub2">{{'ver.main.industry'|translate}}</div>
        </div>
        <div nz-col [nzSpan]="1">
          <nz-divider nzType="vertical"></nz-divider>
        </div>
        <div nz-col [nzSpan]="7" style="text-align: center;">
          <div class="caseintro-text-sub1">{{selectedCase.techfields&&selectedCase.techfields.length>0?selectedCase.techfields[0].name:""}}</div>
          <div class="caseintro-text-sub2">{{'ver.main.technology'|translate}}</div>
        </div>
        <div nz-col [nzSpan]="1">
          <nz-divider nzType="vertical"></nz-divider>
        </div>
        <div nz-col [nzSpan]="7" style="text-align: center;">
          <div class="caseintro-text-sub1">{{selectedCase.shortvalue}}</div>
          <div class="caseintro-text-sub2">{{'ver.main.profit'|translate}}</div>
        </div>
      </div>
      <a href="javascript:void(0);" nz-row class="caseintro-checkdetail" (click)="toCaseDetail()">{{'ver.main.checkdetail'|translate}}</a>

    </div>
  </div>
</div>
<div class="footer-div"></div>
