.title-name {
    font-family: SiemensSans-Bold;
    font-size: 18px;
    color: #2D373C;
    letter-spacing: -0.36px;
    line-height: 40px;
  }
  .nz-select {
    width: 100%;
  }
  .display-div {
    width: 737px;
    height: 67.6%;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    background: #F2F5E7;
    margin-left:24.4%;
    margin-top: 1.6%;
  }
  .text-style{
    display: flex;
    margin-left:3.3%;
    width:642px;
    height:40px;
  }
  .small-button{
      width:132px;
      height:20px;
      background:#FFFFFF;
  }
